################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/FSO.Web/obj
/src/FSO.Web/bin/Debug/netcoreapp2.1
