@{
    ViewData["Title"] = "联系我们";
}

<div class="row" style="overflow-x:hidden;">
    <div class="col-md-3" style="margin-right:100px;">
        <h2>QQ群</h2>
        <img src="~/images/qrcode_qq.png" style="width:200px;" /><br />
    </div>
    <div class="col-md-3">
        <h2>微信公众号</h2>
        <img src="~/images/qrcode_gzh.png" style="width:200px;" /><br />
    </div>
</div>