
@{
    ViewData["Title"] = Model.Title;
}

@model FSO.Models.VideoInfo

<div id="app">
    <b-embed type="iframe"
             aspect="16by9"
             src="@Model.Url"
             allowfullscreen></b-embed>
    <p style="margin-top:20px;text-indent:4rem;">@Model.Remark</p>
</div>

<script>
    new Vue({
        el: "#app",
        data() {
            return {}
        }
    });
</script>