
@{
    ViewData["Title"] = "视频列表";
}

@model IList<FSO.Models.VideoInfo>

<style>
    .container-fluid .row {
        margin-bottom:15px;
        font-size:.5rem;
    }


</style>

<div id="app">
    <b-container  fluid  class = "p-4 bg-dark">
        <b-row v-for="row in dataGrid">
            <b-col v-for="item in row" v-if="item.Null?false:true">
                <a :href="'/Video/Get/' + item.Id" target="_blank">
                    <b-img thumbnail fluid :src="item.ImgUrl" alt="缩略图" />
                </a>
                <a :href="'/Video/Get/' + item.Id" target="_blank" style="color:#ffffff;">
                    {{item.Title}}<br />
                    演员：{{item.Author}}<br/>
                    上传者：{{item.Creator}}
                </a>
            </b-col>
            <b-col v-for="item in row" v-if="item.Null?true:false"></b-col>
        </b-row>
    </b-container>
</div>

<script>
    new Vue({
        el: "#app",
        data() {
            return {
                dataGrid:[]
            }
        },
        created() {
            
        },
        mounted() {
            var list = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
            var tmpArr = [];
            var count = window.innerWidth >= window.innerHeight?4:3;
            for (var i = 0; i < list.length; i++) {
                tmpArr.push(list[i]);
                if (tmpArr.length == count) {
                    this.dataGrid.push(tmpArr);
                    tmpArr = [];
                }
            }

            if (tmpArr.length > 0) {
                var tmpCount = count - tmpArr.length;
                for (var i = 0; i < tmpCount; i++) {
                    tmpArr.push({"Null":true});
                }
                this.dataGrid.push(tmpArr);
            }
        },
        methods: {

        }
    });
</script>

